.likes {
  border: 2px solid black;
  display: inline-block;
  font-size: 14pt;
  padding: 20px;
  font-family: roboto;
  width: 300px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.right {
  display: flex;
  align-items: center;
}
button {
  margin-left: 20px;
  width: 60px;
  height: 30px;
  background-color: goldenrod;
  box-shadow: 3px 3px black;
  border: 2px solid black;
  font-weight: bold;
  font-size: 11pt;
}