#search {
  color: lightseagreen;
  border: 2px solid lightseagreen;
  border-radius: 50px;
  width: 120px;
  height: 25px;
}
#add {
  color: white;
  font-size: 16px;
  background-color: lightseagreen;
  border: solid lightseagreen;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
#create {
  color: white;
  background-color: royalblue;
  border: 2px solid black;
  width: 130px;
  height: 30px;
  box-shadow: 2px 2px black;
}
