* {
  padding: 0px;
  margin: 0px;
  font-family: roboto;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: rgb(40, 40, 40);
}
.bg-header {
  background-color: black;
  height: 80px;
}
h1, h2 {
  color: white;
}

/* Navbar */
.container {
  width: 1200px;
  height: 1200px;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  width: 50%;
  display: flex;
  align-items: center;
}
.links ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
li a{
  list-style-type: none;
  color: darkgray;
}
.links h1 {
  font-size: 40pt;
  margin-right: 20px;
  color: white;
}
button{
  color: white;
  font-size: 14pt;
  border-radius: 3pt;
  margin-left: auto;
  background-color: darkslategray;
  border: none;
  width: 110px;
  height: 40px;
}
#home {
  color: white;
}

/* Main */
.main {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
}
.left-col {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px
}
.right-col {
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
}
.head {
  background-color: black;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
}

/* User card */
.user-card {
  border: 3px solid hsla(0, 0%, 0%, 0.9);
  background-color: white;
  height: 400px;
  margin-bottom: 55px;
}
.user-card-head {
  background-color: darkslategray;
  height: 100px;
}
.content {
  width: 440px;
  height: 230px;
  margin-left: 30px;
}
#user-icon {
  height: 130px;
  margin-top: -65px;
  margin-left: 30px;
}
.content #name {
  font-size: 30pt;
  font-weight: bold;
  margin-left: -5px;
}
#marker, #gear {
  height: 15px;
  margin-right: 10px
}
.location {
  display: flex;
}
.content p, .content a, .content img{
  margin: 5px 0px;
  font-size: 14pt;
}
.edit a {
  margin-left: -7px;
}

/* Education */
.education {
  border: 3px solid hsla(0, 0%, 0%, 0.9);
  background-color: white;
  height: 300px;
}
.edu-info {
  margin-top: 5px;
  padding: 30px;
}
.edu-info p {
  margin-top: 10px;
}
.course {
  font-size: 30px;
  font-weight: bold;
}

/* Request */
.request {
  border: 3px solid hsla(0, 0%, 0%, 0.9);
  background-color: white;
  height: 252px;
  margin-left: 15px;
}
.user {
  height: 60px;
}
.confirm {
  height: 30px;
}
.left {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
.right {
  margin: 0px 20px;
}
.user-todd {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-phil {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#name {
  margin: 20px;
}
.confirm {
  margin-left: 15px
}

/* Connection */
.connection {
  border: 3px solid hsla(0, 0%, 0%, 0.9);
  background-color: white;
  height: 475px;
  margin-top: 15px;
  margin-left: 15px;
}
.user-connect {
  display: flex;
  margin: 20px;
}
.view-more {
  margin: 20px;
}