h1 {
  color: white;
  background-color: black;
}
span {
  color: aqua;
}
h2 {
  color: white;
  background-color: rebeccapurple;
  text-align: center;
  font-style: italic;
}
h3 {
  background-color: cornflowerblue;
  text-align: right;
  text-decoration: underline;
}
